h1{
    color:black;
    font-size: 2.3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;    
}
.title1{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0;
    font-size: 1.85em;
}

.title{
    /*background-image: radial-gradient(rgb(177, 119, 253),  rgb(253, 255, 139));*/
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("assests/lab.jpg");
    background-position: 20%;
}
.input-left{
    padding-left: 6em;
    line-height: 1.32em;
    float: left;
}
.input-right {
    padding-right: 6em;
    margin-left: 2em;
    float:right;
  }
.maindiv {
    display: block;
    margin: auto;
    font-size: 0.9em;
    
    color: black;
    width: 700px;
    padding: 20px;
    border-radius: 25px;
  }
body{
    background-image: url("assests/bg1.jpg");
    background-size: 100%;
}
.result {
    padding: 10em 5em 0 6.2em;
  }
.footer{
    text-align: center;
}